<%= form_with(model: pionner, local: true) do |form| %>
  <% if pionner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pionner.errors.count, "error") %> prohibited this pionner from being saved:</h2>

      <ul>
      <% pionner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :pionner_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :pionner_last_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
