<p id="notice"><%= notice %></p>

<h1>Pionners</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pionners.each do |pionner| %>
      <tr>
        <td><%= pionner.first_name %></td>
        <td><%= pionner.last_name %></td>
        <td><%= link_to 'Show', pionner %></td>
        <td><%= link_to 'Edit', edit_pionner_path(pionner) %></td>
        <td><%= link_to 'Destroy', pionner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pionner', new_pionner_path %>
